:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

main {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

section.card {
  text-align: center;
}

div.countdown span {
  display: block;
  color: var(--purple);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

div.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.time div p {
  display: inline;
}