:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(./assets/bottom-image.svg) bottom / 100% no-repeat, 
              url(./assets/top-image.svg) top / 100% no-repeat;
}

main {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;

  margin-top: 16px;
}

section.card {
  text-align: center;
  background-color: #FFF;
  border-radius: 16px;
  margin-left: 100px;
  padding: 30px;

  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

div.countdown span {
  display: block;
  color: var(--purple);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

div.time-type {
  display: flex;
  justify-content: center;
}

div.time-type p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 300;
  margin-right: 91px;
}

div.time-type p:last-child {
  margin-right: 0;
}

div.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

div.time strong {
  font-size: 70px;
  font-weight: 400;
}

div.subscribe p {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 45px;
}

div.subscribe button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;

  background: var(--purple);
  color: #FFF;
  cursor: pointer;

  transition: background 0.3s;
}

div.subscribe button:hover {
  background: #5a54d6;
}